body {
  background-color: rgba(156, 121, 202, 0.452);
  border-style: ridge;
  border-width: 10px;
  border-color: rgb(49, 8, 48);
  padding: 10px;
  margin: auto;
  text-align: center;
  font-family: Arial;
}
#div1 {
  background-color: rgb(143, 85, 177);
  border-style: ridge;
  border-width: 5px;
  border-color: rgb(49, 8, 48);
  border-radius: 8px;
  padding: 10px;
  margin: auto;
  text-align: center;
  font-family: Arial;
}
#div2 {
  background-color: rgb(154, 126, 170);
  border-style: ridge;
  border-width: 2px;
  border-color: rgb(49, 8, 48);
  border-radius: 8px;
  padding: 10px; /*largura do menu*/
  width: 900px; /*comprimento do menu*/
  margin: auto;
  text-align: center;
  font-family: Arial;
}
#div3 {
  background-color: rgb(154, 126, 170);
  width: 1300px;
  border: 2px solid rgb(49, 8, 48);
  padding: 10px;
  margin: 1px;
  display: inline-block;
  text-align: center;
  font-family: Arial;
}
#botao {
  /*tentativa de mudar a cor do botão*/
  background-color: rgb(49, 8, 48);
}
